<%- include('partials/header', {pageTitle}) %>

<main>
    <h1><%= pageTitle %></h1>
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam reprehenderit tempore rem perspiciatis soluta eos, autem dolorem illo voluptatem possimus, cumque, facere inventore neque qui beatae quisquam impedit quidem nobis.</div>
</main>

<%- include('partials/footer') %>